<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<a href="/add">ADD</a>
<a href="/wishlist">WISHLIST</a>
<a href="/logout">LOGOUT</a>
<hr />

<h1>MAKE A WISH...</h1>
<hr />

<form action="/add" method="POST">
  <input type="text" name="title" placeholder="title" required />
  <textarea
    type="text"
    name="description"
    rows="5"
    cols="70vw"
    placeholder="description"
  ></textarea>
  <button>CREATE</button>
</form>
