<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<a href="/login">LOGIN</a>
<a href="/signup">SIGNUP</a>

<hr />

<form action="/signup" method="POST">
  <input type="email" name="email" placeholder="email" required />
  <input type="text" name="username" placeholder="username" required />
  <input
    type="password"
    name="password"
    placeholder="password"
    minlength="7"
    required
  />
  <button>SIGNUP</button>
</form>
