<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<a href="/add">ADD</a>
<a href="/wishlist">WISHLIST</a>
<a href="/logout">LOGOUT</a>
<hr />

<h1>MAY YOUR WISHES COME TRUE!!</h1>

<% wishes.forEach((wish) => { %>
<b><%= wish.title %> </b>
<%= wish.description %>
<hr />
<% }) %>
